ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0;     
}

a {
        text-decoration: none;
        &:hover {
                text-decoration: none;
        }
}