.projects-wrapper {
        max-width: 100%;
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0;
        margin-bottom: 50px;
}

a {
        text-decoration: none;
        &:hover {
                text-decoration: none;
        }
}

@-webkit-keyframes projectFade {
    0% {
        // -webkit-transform: rotateY(-180deg);
        // transform: rotateY(-180deg);
        opacity: 0;
    }
    // 60% {
    //     opacity: 0.5;
    // }

    100% {
        // -webkit-transform: rotateY(0deg);
        // transform: rotateY(0deg);
        opacity: 1;
    }
}
@keyframes projectFade {
    0% {
        // transform: rotateY(-180deg);
        opacity: 0;
    }
    // 60% {
    //     opacity: 0.5;
    // }
    100% {
        // transform: rotateY(0deg);
        opacity: 1;
    }
}

.project-flip {
        opacity: 0;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animation-name: projectFade;
        animation-name: projectFade;
        -webkit-animation-duration: 0.45s;
        animation-duration: 0.45s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

        // Loop through the items and add some delay.
      @for $i from 1 through 11 {
        &:nth-child(#{$i}) {
            -webkit-animation-delay: (0.1s * $i);
        -moz-animation-delay: (0.1s * $i);
        animation-delay: (0.1s * $i);
        }
    }

    &:last-of-type {
        margin-bottom: 50px;
    }
}
