.projects-wrapper {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        justify-content: flex-start;
        padding: 0;  
        margin-bottom: 50px;   
}

a {
        text-decoration: none;
        &:hover {
                text-decoration: none;
        }
}