.project-container {
    height: 200px;
    overflow: hidden;
}
.project {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;

    &:hover {
        -webkit-transform: rotateX(89deg) translateZ(95px);
        transform: rotateX(89deg) translateZ(95px);
        
        h6 {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    
    h6 {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    .fw-logo {
        position: absolute;
        bottom: 20px;
        right: 20px;
        margin-top: 20px;
        height: 30px;
        // opacity: 0.2;
        width: auto;
    }

    .topFlip, .bottomFlop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1 0 199px;
        text-align: center;
        max-width: 279px;
        width: 279px;
        height: 180px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        margin: 10px 10px 0 0;
        transition: all 0.35s ease;
    }

    .topFlip {
        position: relative;
        background-color: #fff;
        color: #1A1B1E;
        font-size: 12px;
        -webkit-transform: translateZ(50px) translateY(20px);
        transform: translateZ(50px);
    }
    .bottomFlop {
        background-color: #1A1B1E;
        color: #fff;
        font-size: 12px;
        -webkit-transform: rotateX(-90deg) translateZ(-60px);
        transform: rotateX(-90deg)  translateZ(-60px);

        div {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 55%;
            padding: 10px 0;
            border: 1px solid #fff;

            p {
                margin: 0;
            }
        }
    }
}