.project-container {
    height: 200px;
    overflow: hidden;

    @include media('<phone') {
        height: 65px;
    }
}
.project {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .3s;
	transition: transform .3s;

    &:hover {
        @include media('>phone') {
            -webkit-transform: rotateX(89deg) translateZ(95px);
            transform: rotateX(89deg) translateZ(95px);
        }
        
        h6 {
            color: rgba(0, 0, 0, 0.5);
        }
    }
    
    h6 {
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: none;
        }
    }

    .topFlip, .bottomFlop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex: 1 0 199px;
        text-align: center;
        max-width: 279px;
        width: 279px;
        height: 180px;
        border: 2px solid rgba(255, 255, 255, 0.5);
        margin: 10px 10px 0 0;
        transition: all 0.35s ease;
    }

    .topFlip {
        position: relative;
        background-color: #BDBEBF;
        color: #1A1B1E;
        font-size: 12px;
        -webkit-transform: translateZ(50px) translateY(20px);
        transform: translateZ(50px);
        @include media('<phone') {
            display: flex;
            align-items: center;
            height: 40px;
            justify-content: flex-start;
            flex-direction: row;
            color: #fff;
            font-size: 14px;
            padding-left: 40px;
            background-color: initial;
            border: initial;
            text-align: left;
        }
        .fw-overlay {
            color: #fff;
            height: 30px;
            width: 30px;
            bottom: 20px;
            right: 20px;
            position: absolute;
            overflow: hidden;
            -webkit-transform-style: preserve-3d;

            @include media('<phone') {
                left: 0;
                bottom: 5px;
            }

            .fw-logo {
                display: block;
                height: 100%;
                width: 100%;
                max-width: 100%;
                filter: contrast(0.6);
                -webkit-transform-style: preserve-3d;
            }
        }
    }
    .bottomFlop {
        background-color: #1A1B1E;
        color: #fff;
        font-size: 12px;
        -webkit-transform: rotateX(-90deg) translateZ(-60px);
        transform: rotateX(-90deg)  translateZ(-60px);

        div {
            display: flex;
            align-content: center;
            justify-content: center;
            width: 55%;
            padding: 10px 0;
            border: 1px solid #fff;

            p {
                margin: 0;
            }
        }
    }
}

.fw-overlay:after {
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
}