.experience-wrapper {
    margin: 50px 0;
}

@keyframes animated {
   0% { opacity: 0 }
  20% { opacity: 1 } /* 20% of 5 seconds = 1 second */
  80% { opacity: 1 }
  100% { opacity: 1 }
}
 
.animated {
  opacity: 0;
  animation: animated ease-in-out 5s;
  animation-fill-mode: forwards;
}

@mixin animationDelay($seconds){
  animation-delay: $seconds + s;
}

.animated-1 { @include animationDelay(.25); }
.animated-2 { @include animationDelay(.5); }
.animated-3 { @include animationDelay(.75); }
.animated-4 { @include animationDelay(1); }