.experience-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;

  @include media('height<landscape') {
      padding-top: 70px;
  }

  @include media('<phone') {
    padding-top: 50px;
  }
}

.experience-wrapper {
    margin: 20px 0;
    width: 70%;

    @include media('<desktop') {
        width: 100%;
    }

    &:last-of-type {
      margin-bottom: 50px;
    }
}

@keyframes animated {
   0% { opacity: 0 }
  20% { opacity: 1 } /* 20% of 5 seconds = 1 second */
  80% { opacity: 1 }
  100% { opacity: 1 }
}

.animated {
  opacity: 0;
  animation: animated ease-in-out 1s;
  animation-fill-mode: forwards;
}

@mixin animationDelay($seconds){
  animation-delay: $seconds + s;
}

.animated-1 { @include animationDelay(.25); }
.animated-2 { @include animationDelay(.5); }
.animated-3 { @include animationDelay(.75); }
.animated-4 { @include animationDelay(1); }
