.projects-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    margin-bottom: 100px;

    @include media('<phone') {
        align-items: flex-start;
    }

    @include media('height<landscape') {
        padding-top: 70px;
    }

    h2 {
        margin-bottom: 20px;
    }
}