.projects-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    margin-bottom: 100px;

    h2 {
        margin-bottom: 20px;
    }
}