.navbar-enter {
  opacity: 0.01;
}

.navbar-enter.navbar-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.navbar-leave {
  opacity: 1;
}

.navbar-leave.navbar-leave-active {
  opacity: 0.01;
  transition: opacity 50ms ease-in;
}

.headerFadeIn {
    -webkit-animation: 0.1s ease 0s normal forwards 1 fadein;
    animation: 0.1s ease 0s normal forwards 1 fadein;
}
@keyframes fadein{
    0% { opacity: 0; }
    66% { opacity: 0; }
    88% { opacity: 0.75 }
    100% { opacity: 1; }
}

@-webkit-keyframes fadein{
    0% { opacity: 0; }
    66% { opacity: 0; }
    88% { opacity: 0.75 }
    100% { opacity: 1; }
}
