@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Lato|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');



// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}

p {
  font-size: 12px;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;
}

h2, h3, h4, h5, h6, p, span, a, button {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background: linear-gradient(
      rgba(30, 32, 35, 1),
      rgba(30, 32, 35, 0.85)
    ), url('../assets/background.jpg');
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
