@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Lato|Permanent+Marker');

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.background {
  background: linear-gradient(
      rgba(171, 175, 175, 0.85),
      rgba(4, 4, 4, 0.85)
    ), url('../assets/background-2.jpg');
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
