.page-layout__viewport {
  height: 100%;
  padding-top: 4rem;  
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: left;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
