.page-layout__viewport {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: left;

  @include media('height<landscape') {
      padding-top: 2rem;
  }
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
