.contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    width: 100%;

    @include media('height<landscape') {
        padding-top: 70px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .contact-wrapper {
        display: flex;
        align-items: flex-end;
        margin: 20px 0;

        p {
            margin: 0;
            span {
                display: inline-block;
            }
        }

        a {
            text-decoration: underline;
            color: #fff;
        }

        .img-coffee {
            margin-left: 2px;
            height: 15px;
            width: auto;
        }
    }
}